* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #333;
  color: white;
  height: 2em;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 3rem;
}
nav ul {
  margin-right: 3rem;
  display: flex;
  gap: 20px;
}
nav {
  padding: 0.5rem 1rem;
}
nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

body {
  background-color: #bcb;
  max-width: 1200px;
  min-height: 100vh;
}

#intro {
  font-style: italic;
  font-size: 1.2rem;
}
.cabecera-gris {
  color: grey;
}

#profile-image {
  width: 200px;
  border: 4px solid lightblue;
  border-radius: 50%;
}

iframe {
  border: 2px solid black;
  border-radius: 10px;
}
.listas {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  min-width: 60%;
}
address {
  margin: 1rem;
}
fieldset {
  margin-bottom: 24px;
  padding: 1rem;
}

#inicio {
  background-image: url("imagenes/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

#bg-inicio {
  width: 50%;
  min-width: 300px;
  border-radius: 10px;
  color: white;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
#bg-inicio img {
  width: 500px;

  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

header ul form {
  list-style: none;
}

footer {
  background-color: #333;
  color: white;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons li {
  width: 49%;
}

.buttons button {
  border: none;
  width: 100%;
  padding: 0.7rem;
  color: white;
  background-color: #666;
  font-size: 1rem;
  border-radius: 5px;
}
.buttons button:hover {
  background-color: #555;
  cursor: pointer;
}

input,
textarea {
  padding: 0.2 rem 0.5rem;
  margin-bottom: 0.7rem;
  font-size: 1rem;
  border: none;
  background-color: whitesmoke;
  border-radius: 3px;
  display: block;
}

.one-line {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  header h1 {
    margin-left: 1rem;
  }
  nav ul {
    margin-right: 1rem;
    gap: 10px;
  }
  maim {
    padding: 1rem;
  }
  iframe {
    width: 90%;
  }
  .lista li {
    margin-left: 1.5rem;
  }
}
